.map {
    height: 600px;
    
}

.map .leaflet-container{
    height: 100%;
    
}

.info__flag img {
    width: 100px;
    border-radius: 5px;
}

.info__flag{
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info__container{
    width: 150px;
}


@media (max-width: 1200px) {
    .map {
        height: 400px;
    }
}

@media (max-width: 450px)  {
    .map {
        height: 300px;
    }
}